
/* .p1{
    background-color: black;
    color:white;
} */

#title{
    text-align: center;
}
.Ajouter{
    color: blueviolet;
}

.maCouleur{
    color: aquamarine;
}

.photo{
    background-color: rgb(164, 145, 177);
}