* {
    margin: 0;
    padding: 0;
    background-color: darkkhaki;
}

#contenu {
    text-align: center;
    background-color: lightgray;
}

.titre {
    color: red;
}

.lien {
    color: red;
}

a {
    color: yellowgreen;
}

div+div p {
    text-align: right;
    font-size: 2em;
}





