$mainCouleur: rgb(71, 192, 67);
$rembourrage: 50%;
$marge: 15%;

#nestingTest{
    background-color: $mainCouleur;
    margin: $marge;


    p{
        color: brown;
        background-color: chartreuse;
        padding: $rembourrage;
    }

    :hover{
        background-color: antiquewhite;
    }
}




