body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p{
    color: black;
    text-align: center;
    padding-top: 3%;
}

h1{
    color: red;
}

h2{
    color: red;
}

.btn{
    color: black;
}

.navbar{
    height: 80px;
}

.col-6{
    padding-right: 4%;
    text-align: justify;
    text-align-last: center;
}

























/* body {
    font-family: Mapolice, sans-serif;
}

.quiz-container {
    text-align: center;
    margin: 20px auto;
    max-width: 400px;
}

h1 {
    font-size: 24px;
}

#choices li {
    list-style: none;
    margin: 10px 0;
}

#next-button {
    display: none;
    margin-top: 10px;
    padding: 10px 20px;
}

#score {
    font-weight: bold;
    margin-top: 20px;
}
 */
