#parent {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#block1{
    background-color: blue;
    border: 2px;
}

#block2{
    background-color: chartreuse;
    border: 2px;
}

#block3{
    background-color: gold;
    border: 2px;
}